.전체1{
    width: 1920px; height: 530px;
    background-color: #f2f4f7;
    padding: 72px 0px 112px;
    display: flex;
    justify-content: center;
    
}

.전체2{
    width: 2000px; height: 536px;
    margin: 0px 332px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;

}
.왼쪽{
    width: 580px; height: 266.08px;
    padding: 0px 43px 0px 0px;
    margin-left: 130px;
    margin-top: -14px;
    
    
    
}

.로고{
    width: 548px; height: 182.08px;
    padding: 112px 0px 16px;
}
.로고 > img{
    width: 320.94px; height: 106px;
    margin: -28px;
   
}
.소개글{
    width: 500px; height: 84px;
    color: #1c1e21;
    font-size: 28px;
    padding: 0px 0px 20px;
    margin-top: -125px;
    line-height: 110%;

}
.오른쪽{
    width: 396px; height: 496px;
    display: flex;
    text-align: center;
    margin-right: 214px;
    margin-top: -9px;
}
.오른쪽2{
    width: 396px; height: 456px;
}
.입력창{
    width: 396px; height: 310.83px;
    background-color: #ffffff;
    margin: 40px 0px 0px;
    padding: 10px 0px 24px;
    border-radius: 8px;
    box-shadow: 0px 3px 15px #0000001a;
    
}

.로그인{
    width: 396px; height: 132.08px;
}
.로그인 > input{
    width: 330px; height: 22px;
    background-color: #ffffff;
    padding: 14px 16px;
    border: 1px solid #eeeeee;
    border-radius: 6px;   
    font-size: 17px; 
    margin-block: 6px;
    
}
.버튼{
    width: 396px; height: 54px;
    padding: 6px 0px 0px;
}
.버튼 > button{
    width: 364px; height: 48px;
    color: white;
    font-size: 20px;
    background-color: #0866ff;
    padding: 0px 16px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
}
.찾기{
    width: 396px; height: 18.75px;
    margin-bottom: 23px;
    margin-top: 7px;
    
}
.찾기 > a{
    color: #0688ff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.선{
    width: 370px;
    margin: 0 auto;
    border: 1px solid #DADDE1;
    
}
.새계정{
    width: 396px; height: 54px;
    padding: 6px 0px 0px;
    margin-top: 28px;
   
}
.새계정 > a{
    width: 135.3px; height: 48px;
    color: white;
    font-size: 17px;
    background-color: #42B72A;
    padding: 11px 18px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 22px;
}

.기타{
    font-size: 14px;
    margin: 28px 0px 0px;
}
.기타 > a{
    text-decoration: none;
    color: #1c1e21;
    font-weight: bold;
}



.바탕{
  background-color: #eeeeee;
  display: flex; 
  flex-direction : column; 
  align-items: center;
  margin-bottom: 30px;
 padding-bottom: 50px;
}

.시작{
  background-color: #f0f2f5;
  width: 500px;
}

.이미지아래{
  padding: 20px;
  border: 1px solid #eeeeee;
  box-shadow : 0px 1px 3px gray;
  font-size: 20px;
  border-radius: 10px;  
  background-color: white;
  display: flex;
  width: 500px; 
  flex-direction : column; 
}

.제목{
  background-color: white;
  border-bottom: 1px solid #eeeeee;
  
}
.제목1{
  font-size: 25px;
  font-weight: bold;
}

.제목2{
  font-size: 15px;
  margin: 10px;
  color: gray;
}

.내용박스{
  background-color: white;
  width: 500px;

}
.이름박스{
  display: flex; 
  justify-content: space-between;
  margin : 10px 0px;

}
.이름{
  border-radius: 5px;
  border: 1px solid #eeeeee;
  text-align: left;
  padding: 11px;
  font-size: 15px;
  width: 220px;

}
.기본글자{
  color: gray;
  text-align: left;
  
}
.그림2{
  height: 20px;
}

.날짜{
   display: flex;
   justify-content :space-between;
   
}
.선택{
  width: 120px;
  padding: 8px;
  font-size: 20px;
 padding-left: 0px;
 
}
.성별{
   display: flex;
  justify-content: space-between;
  box-sizing:border-box ; 
  width: 500px; 
}


.성별박스{
  border-radius: 5px;
  border: 1px solid #eeeeee;
  text-align: left;
  width: 120px;
  padding: 8px;
  font-size: 15px;
}
 .연락수단{
  border-radius: 5px;
  border: 1px solid #eeeeee;
  padding: 10px;
  text-align: left;
  margin-top: 8px;
  box-sizing:border-box ; 
  width: 500px;
 }

 .약관{
  color: gray;
  font-size: 12px;
  margin: 15px 0px;
  text-align: left;
 }
 
.가입하기{
  background-color: #00a400;
  border-radius: 5px;
  color: white;
 border: 0px;
 width: 200px;
 padding: 6px;
 margin: 10px 0px;
}

.계정{
  padding: 15px 0px;
}

a{ color: blue; text-decoration: none;
  font-weight: 400;
  font-size: 20px;
}
.언어 {
  font-size: 13px;
}
.선{
 color: #eeeeee;
}

 a{ /* a마크업 기본 css 제거*/
  text-decoration: none; /* 밑줄 제거*/
}

li > a{
  font-size: 10px;
  display: flex; 
  flex-direction : column; 
  margin-left: 20px;
  color:  #385898;

}



li{
  display: flex;
  list-style-type : none; /* 목록 글머리 제거*/
 

}

.footer{
    display: flex;
  justify-content: center;
}

ol{
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
}