/* 관례적인 css */

*{
    box-sizing: content-box; 
    font-family: 굴림 나눔고닥;
    font-size: 12px;
    padding: 0px; margin: 0px; /*전체 여백 제거 */
}
a{
    text-decoration: none;
    color: black
}
li{ /* 목록 글머리 제거 */
    list-style-type: none;
}
/*
*{
    border: 1px solid red;
}
*/
#header{
    display: flex;
    justify-content: space-between;
    align-items: center; /*flex 요쇼들의 세로정렬*/
    width: 1280px; 
    margin: 0px auto;
}
#header .top-menu{ /*선택자a 선택자B : 자손선택자 */
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px;
}
#header .top-menu li a{
    margin-left: 5px;

}
#header .main-menu{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}
#header .main-menu li a{
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
}
#main-img > img{
    width: 100%
}
#main{
    display: flex;
    justify-content: space-between ;
    width: 1280px ;
    margin: 20px auto;
}
#left{
    width: 220px;
}
#right{
    width: 1030px;
}
#left > h3{
    background-color: gray;
    color: white;
    padding: 10px;
    font-size: 20px;
}
#left > ol > li{
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
}
#right > h3{
    font-size: 20px;
    font-weight: 1200;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee ;
    margin-bottom: 10px;
}
#right > img{
    display: block;
    margin: 0 auto;
    margin-right: 500px;
}
#footer{
    background-color: #2c2a29;
    color: white;
    padding: 15px 0px;
}
#footer-inner{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
}