.box{
    border: 1px solid red;
    padding: 30px;
}
.back1{
    background-color: aqua;
    padding: 5px;
    background-color: #00ffff;
    background-color: rgb( 0 , 0 , 255);
    background-color: rgba( 0 , 0 , 255 , 0.5);
    /* rgba= rgb+투명도 */
}
.back2{
    /*background-image: url("파일경로");*/
    background-image: url("./ai-generated-8629230_1280.png");
    background-repeat: no-repeat; /* 채우기 없음 */
    background-position: center; /* 배경 이미지 위치 조정 */
}
.back3{
    background-image: url("./lake-7938396_1280.jpg");
    background-repeat: repeat;
}
.back4{
    background-image: url("./ai-generated-8629230_1280.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* 스크롤을 이동해도 배경 이미지 고정 */
}
.box2{
    width: 100px; height: 100px;
    background-image: url("./sp_main.3427b960.png");
    background-repeat: no-repeat;
    background-position: -290px -80px;
}