.imgbox{
    width: 300px; height: 300px;
    border: 1px solid red; margin: 20px;
}
.imgbox > img{
    width: 100%; height: 100%;
}
.img1{
    object-fit: fill;
}
.img2{ /* 비율 유지 */
    object-fit: contain;
}
.img3{
    object-fit: cover;
}
.img4{
    object-fit: none;
}
.img5{
    object-fit: cover;
    object-position: left   ;
}
.img6{
    object-fit: contain;
    object-position: right;
}