*{ padding: 0px; margin: 0px; } 
*{ box-sizing: border-box; } 
a{ text-decoration: none; color: black; } 
li{ list-style-type: none;} 
#header{
    width: 100%;
    display: contents;
}

.header-top{
    padding: 10px;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
    margin-right: 20px;
    
}

.header-top > ul > li >span{
    padding: 0px 15px;
}
.header-top > li > img{
    width: 20px; margin: 2px 20px;
}

#header > .header-top > ul{
    display: flex;
    justify-content: flex-end ;
    font-size: 12px;
}
.header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    position: sticky; top: 0px;
    background-color: rgba( 255 ,255 ,255 , 0.9);
}
.header-bottom > ul{
    display: flex;
    width: 80%;
   
   
}
.header-bottom > ul > li{
    width: 80px; height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.search{
   border-bottom: 1px solid black;
}
.search > input{
    border: none;
    padding: 5px;
    width: 130px;
    background-color: white
}
.search > img{
    width: 15px;
}
.main-logo > a >img{
    width: 155px
}
.word > a{
    color: red;
}
.menu{
    position: relative
}
.sub-menu{
    position: absolute;
    display: none;
    top: 50px;
    background-color: white;
    width: 80px; 
    text-align: center;
    padding: 40px 10px 10px 10px
}
.sub-menu > li{
    font: 12px;
    margin-bottom: 10px;
}
.menu:hover .sub-menu{
    display: block;
}
#main-img > img{
    width: 100%;
    
}
#main > h3{
    margin-top: 50px;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}
#main > .멘트{
    font-size: 10px;
    text-align: center;
    color: lightgray;
    margin: 20px 0px;
}
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
   
}
.items > .item1{
    width: 380px ;
    margin: 30px 0px;
}
.items > .item1 > .i-img{
    width: 100%;
}
.c-review{
    display: flex;
    justify-content: space-between;
}
.color > .co{
    width: 10px; height: 10px;
    display: inline-block;
    border: 1px solid #dbdbdb
}
.color > .color1{
    background-color: black;
}
.review{
    font-size: 12px;
    color: #999999
}
.name{
    font-size: 12px;
}
.size{
    font-size: 10px;
    color: #999999;
}
.option{
    font-size: 12px;
}
.price{
    display: flex;
    justify-content: space-between;
}
.price1{
    text-decoration: line-through;
    font-size: 12px;
    color: #999999;
}
.price2{
    font-size: 12px;
}
.price3{
    font-size: 15px;
    color: red;
    font-weight: bold;
}
.icon{
    font-size: 12px;
}
#footer{
    background-color: #f7f7f7;
}
#footer > .footerinner{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
    padding: 50px 100px;
    margin-top: 90px;
}
#footer > .footerinner > ul > h3{
    font-size: 18px;
    padding-bottom: 5px;
}
.footerinner > ul > li{
    font-size: 12px;
}
.f-word{
    font-size: 10px;
    padding-bottom: 10px;
}
.f-word > li{
    padding-bottom: 1px;
}
.f-word2{
    padding-bottom: 10px;
}
.f-word3{
    font-size: 10px;
}
.f-word3 > li{
    padding-bottom: 10px;
}
.footer-bottom{
    text-align: center;
    font-size: 10px;
    color: #999999;
    background-color: white;
    padding-top: 30px;
    margin-bottom: 30px;
}
#popup{
  position: fixed;   
  right: 0px; top: 30%; 
}
#popup img{ 
    width: 20px;
  position: fixed;   
  right: 0px; top: 30%; 
}
#popup img{ 
    width: 20px;
}
#popup > ul > li{
  position: relative;
  padding: 14px;
  border: 1px solid #dbdbdb;
  background-color: #f7f7f7;
  
}
#popup > ul > li > span{
  display: none;
  width: 80px; height: 20px;
  background-color: black; 
  color: white;
  border-radius: 5px; 
  font-size: 12px;
  text-align: center;
  position: absolute; 
  top: 15px; right: 40px;
}
#popup > ul > li:hover .popupsub{
  display: block;
}   