h5{ color: orange;}

/* 전체선택자 */
*{ font-size: 20px ;} /*글꼴크기 */

h6{ font-size:  15px ;}

/* 클래스 선택자 :  동일한 마크업들 간의 식별자 */

.개그맨{ font-size: 10px ;}

/* 아이디 선택자 : 동일한 마크업들간의 유일 식별자 */
#농구{ font-size: 24px;}