h5{ color: orange;}

/* 전체선택자 */
*{ font-size: 20px ;} /*글꼴크기 */

h6{ font-size:  15px ;}

/* 클래스 선택자 :  동일한 마크업들 간의 식별자 */

.개그맨{ font-size: 10px ;}

/* 아이디 선택자 : 동일한 마크업들간의 유일 식별자 */
#농구{ font-size: 24px;}

/* 다중선택자 : 쉼표 */
h4 , h5{ font-family: 궁서;}

/* 자식 선택자 : 상위 선택자 > 하위선택자 */

div > h3{font-family: 굴림;}

/* 자손 선택자 : 상위선택자 하위모든선택자 */
div h4{ font-family: 굴림;}