h2{
    font-family: 궁서;
    font-size: 50px;
    font-style: italic;
} 
.content{
    color: blue;
     font-size: 20px;
     font-weight: bold;
     word-spacing: 40px;
     letter-spacing: 7px;
     line-height: 150%;
}
.writer{
    font-size: 20px;
    text-align: center;
    text-decoration: line-through;
    color: red;
    text-shadow: 1px 1px 2px;
}
.write{
    font-size: 30px;
    text-align: center;
    text-decoration: line-through;
    color: red;
    text-shadow: 1px 1px 2px;
    font-weight: bold;


}
.last{
    font-size: 15px;
    text-align: center;
    text-decoration: line-through;
    color: red ;
    text-shadow: 1px 1px 2px;
   

}
