*{
    list-style-type: none
}
.menu{
    width: 100px; height: 100px;
    background-color: black;
    color: white;
    border-radius: 100px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-menu > ul > li{
    width: 70px; height: 70px;
    background-color: black;
    color: white;
    border-radius: 70px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}