
/* 로그인 구역 */
.로그인구역{
    
    width: 350px;
    text-align: center ; /* 하위요소 가운데 배치*/
    margin: 0 auto; /* 본인 가운데 이동*/
    box-shadow: 2px -3px 10px red; /* 구역 그림자 */
    padding: 20px;
}

/* 입력상자들 */ 
.입력구역 > input{
        padding: 10px ; /*안쪽여백*/
        border: solid 1px #eeeeee; /* 테두리: 밝은 회색 */
        border-radius:  10px; /* 둥근모서리 */
        margin-bottom: 20px ; /*바깥 여백*/
}

/* 로그인버튼*/
.입력구역 > button{ /* 버튼 사이즈는 여백(padding) 또는 크기 조정(widgh , height)*/
    padding: 8px 10px ; 
    background-color: blue; /*배경색*/
    color: white; /* 글꼴색상 */
    border: none; /* 테두리제거*/
    border-radius: 10px
}

/*  링크 마크업 */
.서브제목 > a{
    text-decoration: none; /* a마크 밑줄 취소 none or black */
}
