*{ padding: 0px; margin: 0px; } 
*{ box-sizing: border-box; } 
a{ text-decoration: none; color: black; } 
li{ list-style-type: none;} 

#footer{
    padding: 50px 0px 50px;
    width: 100%;
    height: 273.5px;
    background-color: #f6f7f9;
    
}
.footerinner{
    display: flex;
    justify-content: space-around;
    
    
}
.footer-left{
    padding: 0px 30px 0px 0px;
    align-items: center;
}
.footer-left > .left-top{
    display: flex;
    margin-bottom: 20px;
    font-size: 14px;
    padding-left: 20px;
    
}
.left-top > li{
    padding-right: 10px;
}
.left-top > li > span{
    padding-left: 10px;
}
.left-bottom{
    font-size: 13px;
    padding-left: 20px;
}
.left-bottom > li{
    padding-bottom: 4px;
}
.left-bottom-1{
    font-size: 12px;
    margin-top: 10px;
}
.footer-right{
    display: flex;
    width: 780px;
    justify-content: space-between;
}
.tel{
    font-size: 20px;
}
.right-1 > h3{
    padding-bottom: 10px;
    font-size: 15px;
}
.right-1 > p{
    padding-bottom: 10px;
}
.right-1 > ul > li{
    padding-bottom: 4px;
}
.right-2 > h3{
    padding-bottom: 10px;
    font-size: 15px;
}
.right-2 > p{
    padding-bottom: 10px;
}
.right-3 > h3{
    padding-bottom: 10px;
    font-size: 15px;
}
.right-3 > p{
    padding-bottom: 10px;
}
.right-1 > ul> li{
    font-size: 13px;   
}
.right-2 > p{
    font-size: 13px;
}
.right-3 > ul> li{
    font-size: 13px;
}
.