*{ padding: 0px; margin: 0px; } 
*{ box-sizing: border-box; } 
a{ text-decoration: none; color: black; } 
li{ list-style-type: none;} 
@font-face {
    font-family: Noto_Sans_KR;
    src: url("./Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf");
}
*{
    font-family: "Noto_Sans_KR";
}
/*----------------------------------------------*/

#header{
    margin: 0 auto;
    width: 420px;
}
#header > .header-top{
    display: flex;
    justify-content: space-between;
    padding: 17px 20px;
}
.header-top > img{
    width: 16px;
}
.header-bottom{
    padding: 5px 20px 0px;
    width: 420px;
    display: flex;
    justify-content: center;
}
.header-bottom > a > img{
    width: 189.94px;
}
#main{
    padding: 0 20px;
    
}
.main-top{
    display: flex;
    justify-content: center;
    padding: 34px 0px;
}
.main-top > ul > h2{
    margin: 0px 0px 5px;
}
.main-top > ul > p{
    font-size: 15px;
    margin: 0px 0px 15px;
}
.login{
    width: 380px; height: 118px;
    
    
}
.kakao{
    padding: 0px 0px 0px 20px;
    font-size: 17px;
    background-color: #fee500;
    width: 100%; height: 54px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
    padding-top: 13px;
    text-align: center;
    background-image: url("./anna-img/카톡.svg");
    background-repeat: no-repeat;
    background-position: 20px;
    background-size: 22px;
}
.naver{
    padding: 0px 0px 0px 20px;
    margin: 10px 0px 0px;
    font-size: 16px;
    background-color: #02c659;
    display: inline-block;
    width: 100%; height: 54px;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    padding-top: 13px;
    color: white;
    background-image: url("./anna-img/naver.svg");
    background-repeat: no-repeat;
    background-position: 20px;
    background-size: 22px;
}
.main-img{
    
    display: flex;
    justify-content: center;
}
.main-img > img{
    width: 380px; height: 133px;
    margin-bottom: 30px;
    margin-top: -11px;
}
.or{
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #b2b2b2;
    margin: 0 auto;
    padding: 0 10px;
    
}
.main-bottom{
    padding: 34px 0px;
    width: 380px;
    margin: 0 auto;
    
}
.check{
    width: 380px; height: 40px;
    margin-bottom: 15px;
    margin-top: -10px;
    padding: 3px;
    display: flex;
    justify-content: space-around;
    background-color: #f6f7f9;
    border-radius: 20px;
    
}
.check1{
    border-radius: 17px;
    background-color: black;
    color: white;
    font-size: 15px;
    text-align: center;
    width: 100%;
    line-height: 30px;
   
}
.check2{
    color: #888888; 
    border-radius: 17px;
    font-size: 15px;
    text-align: center;
    width: 100%;
    line-height: 30px;
    
}
.login2{
    width: 100%;
}

.id{
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: unset ;
    border-bottom: 1px solid #e5e5e5 ;
    margin-bottom: 10px;
}    
.password{
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: unset; 
    border-bottom: 1px solid #e5e5e5 ;
    background-image: url("./anna-img/비밀번호\ 눈꺼풀.png");
    background-repeat: no-repeat;
    background-position: 350px;
    background-size: 18px 10px;
    margin-bottom: 10px;
}

.button1{
    font-size: 17px;
    width: 100%;
    height: 54px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #f6f7f9;
}
.register{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 0px;
    height: 21px;
    width: 100%;

}
.find > a{
    color: #888888;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 5px;
}
.register > a{
    font-size: 15px;
}
.find > span{
    color: #eeeeee;
    font-size: 13px;
}
.apple{
    width: 380px; height: 117px;
    margin: 0 auto;
    padding: 34px 0px;
    display: flex;
    justify-content: center;
}
.apple > .applebox{
    width: 48px; height: 48px;
    border-radius: 48px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}
.apple > .applebox > a >img{
    width: 22px; height: 22px;
}
#footer{
    width: 380px;
    margin: 0 auto;
}
.footer-top{
    font-size: 13px;
    padding: 20px 0px 15px;
    padding-left: 5px;
}
.footer-top > a > span{
    font-weight: bold;
}
.footer-top > a > span::after{
    content: "⚡️";
}
.footer-top >  a > img{
    width: 10px; height: 10px;
}
.footer-bottom{
    font-size: 13px;
    color: #888888;
    margin-bottom: 20px;
    padding-left: 5px;
}
.footer-bottom > p > span{
    font-weight: bold;
}